<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form action="/member/form" method="post">
    아이디<input type="text" name="id" > <br>
    패스워드<input type="text" name="password" ><br>
    이름<input type="text" name="name" ><br>
    주소(도시)<input type="text" name="city" ><br>
    도로명<input type="text" name="street" ><br>
    우편번호<input type="text" name="zipcode" ><br>
    상세주소<input type="text" name="detail" ><br>
    <button type="submit"> 제출</button>
</form>
</body>
</html>